.header {
    background: var(--white);
    grid-area: header;
    padding: 24px 0 24px 0;
}

.header_grey-bg {
    background: var(--grey-1);
}

.header__inner {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo {
    display: inline-flex;
}

.header__logo svg {
    color: var(--black);
}

.header__mobile-menu-trigger {
    cursor: pointer;
    display: inline-flex;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__mobile-menu-trigger_close {
    background: var(--grey-2);
    border-radius: 50%;
    padding: 4px;
}

.header__mobile-menu-icon {
    color: var(--grey-4);
    height: 24px;
    width: 24px;
}

@media (min-width: 768px) {
    .header__inner {
        justify-content: flex-start;
    }

    .header__mobile-menu-trigger {
        display: none;
    }
}
