.header {
    background: var(--white);
    grid-area: header;
    padding: 24px 0 24px 0;
}

.header_grey-bg {
    background: var(--grey-1);
}

.header__inner {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo {
    display: inline-flex;
}

.header__logo svg {
    color: var(--black);
}

@media (min-width: 768px) {
    .header__inner {
        justify-content: flex-start;
    }
}
