.header {
    background: var(--white);
    grid-area: header;
    padding: 24px 0 24px 0;
}

.header__inner {
    display: flex;
}

.header__logo {
    display: inline-flex;
}

.header__logo svg {
    color: var(--black);
}
