.component-page {
    margin-top: 36px;
}

.component-page__sidebar {
    display: none;
    grid-area: sidebar;
}

.component-page__content {
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, .05);
    grid-area: content;
}


@media (min-width: 1280px) {
    .component-page {
        column-gap: 56px;
        display: grid;
        grid-template: 'sidebar content' auto / 229px 1fr;
    }

    .component-page__sidebar {
        display: flex;
    }
}
