.component-page {
    column-gap: 56px;
    display: grid;
    grid-template: "sidebar content" auto / 229px 1fr;
    margin-top: 36px;
}

.component-page__sidebar {
    grid-area: sidebar;
}

.component-page__content {
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    grid-area: content;
}
