.component-page {
    margin-top: 36px;

    @media (min-width: 1280px) {
        column-gap: 56px;
        display: grid;
        grid-template: 'sidebar content' auto / 229px 1fr;
    }

    &__sidebar {
        display: none;
        grid-area: sidebar;

        @media (min-width: 1280px) {
            display: flex;
        }
    }

    &__content {
        background: var(--white);
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(33, 36, 41, .05);
        grid-area: content;
    }
}
