.accordion {
    max-width: 1200px;
    padding: 20px;
}

.accordion-section {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
}

.accordion-section:last-child {
    margin: 0;
}

.accordion-section__trigger {
    color: var(--black);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    padding: 24px 32px;
}

.accordion-section__content {
    color: var(--grey-4);
    line-height: 24px;
    padding: 0 24px 24px;
}

.accordion-section__content-paragraph {
    margin: 0 0 16px;
}

.accordion-section__content-paragraph:last-child {
    margin: 0;
}
