.checkbox {
    display: inline-block;
    position: relative;

    &__input {
        clip: rect(0, 0, 0, 0);
        position: absolute;

        &:checked {
            & + .checkbox__state .checkbox__control {
                background: var(--primary);
                border-color: var(--primary);
            }

            & + .checkbox__state .checkbox__icon {
                visibility: visible;
            }
        }

        &:focus {
            & + .checkbox__state .checkbox__label {
                text-decoration: underline;
            }
        }

        &:disabled {
            & + .checkbox__state {
                cursor: default;
            }

            & + .checkbox__state .checkbox__control {
                background: var(--grey-2);
                border-color: var(--grey-2);
            }

            & + .checkbox__state .checkbox__label {
                color: var(--grey-2);
            }
        }
    }

    &__state {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 12px;
    }

    &__control {
        align-items: center;
        background: var(--white);
        border: 1px solid var(--grey-2);
        border-radius: 4px;
        display: flex;
        height: 28px;
        justify-content: center;
        width: 28px;
    }

    &__icon {
        color: var(--white);
        height: 13px;
        visibility: hidden;
        width: 15px;
    }

    &__label {
        color: var(--grey-4);
        font-size: 1.6rem;
        line-height: 24px;
    }
}
