.avatar_sm {
    width: 102px;
    height: 102px;
}

.avatar_md {
    width: 116px;
    height: 116px;
}

.avatar_lg {
    width: 160px;
    height: 160px;
}

.avatar__picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
