.root {
    display: grid;
    grid-template: 'header' auto
        'main' 1fr
        'footer' auto
        / 100%;
    min-height: 100%;

    &_component-page {
        background: var(--bg-component-page);

        .header {
            background: transparent;
        }
    }
}
