.root {
    display: grid;
    grid-template:
            "header" auto
            "main" 1fr
            "footer" auto
            / 100%;
    min-height: 100%;
}

.root_component-page {
    background: var(--bg-component-page);
}

.root_component-page .header {
    background: transparent;
}
