.tooltip {
    display: inline-block;
    position: relative;

    &_triggered &__bubble {
        display: block;
    }

    &__trigger {
        cursor: pointer;
        height: 2.4rem;
        width: 2.4rem;
    }

    &__trigger-icon {
        width: 2.4rem;
        height: 2.4rem;
        color: var(--black);

        &:hover {
            & + .tooltip__bubble {
                display: block;
            }
        }
    }

    &__bubble {
        display: none;
        background: var(--primary);
        border-radius: 10px;
        bottom: calc(100% + 9px);
        box-shadow: 0 2px 4px rgba(33, 36, 41, .05);
        color: var(--white);
        font-size: 1.6rem;
        left: 50%;
        line-height: 24px;
        padding: 13px 21px 8px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        white-space: nowrap;

        &:after {
            border: 7px solid transparent;
            border-top: 6px solid var(--primary);
            content: '';
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
        }
    }
}
