.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    max-width: 304px;
    padding: 28px 26px 32px;
}

.calendar_sm {
    max-width: 200px;
    padding: 14px 16px;
    width: 200px;
}

.calendar_sm .calendar__header {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 14px;
}

.calendar_sm .calendar__item {
    font-size: 1rem;
}

.calendar__aspect-ratio-box {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.calendar__body-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.calendar__header {
    color: #334D6E;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.calendar__body {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
    height: 100%;
}

.calendar__item {
    align-items: center;
    display: flex;
    font-family: 'Source Sans 3', 'Inter', sans-serif;
    font-size: 1.6rem;
    justify-content: center;
    line-height: 20px;
}

.calendar__item:not(:empty) {
    cursor: pointer;
}

.calendar__item_day {
    align-self: flex-start;
    color: #90A0B7;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 20px;
}

.calendar__item_active {
    background: var(--primary);
    color: var(--white);
}

.calendar__item_range {
    background: rgba(160, 177, 245, .2);
}
