.component {
    padding: 32px 48px;

    &__title {
        font-size: 2.8rem;
        line-height: 38px;
        color: var(--grey-4);
        margin-bottom: 24px;
    }

    &__tabs {
        margin-top: 64px;
    }
}
