.modal {
    background: rgba(196, 196, 196, .5);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal_window-preview {
    display: block;
    padding: 30px;
    pointer-events: none;
    position: static;
}

.modal_window-preview .modal__window {
    left: initial;
    padding: 24px;
    position: relative;
    top: initial;
    transform: none;
}

.modal__window {
    background: var(--white);
    border-radius: 8px;
    left: 50%;
    max-width: 428px;
    padding: 30px 40px 33px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__close {
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 16px;
}

.modal__title {
    color: var(--grey-4);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 14px;
}

.modal__text {
    color: var(--grey-4);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
}
