.mobile-menu {
    background: var(--white);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    transition: transform 200ms linear;
    width: 100vw;
    z-index: 9999;
}

.mobile-menu[data-open] {
    transform: translateX(0);
}

.mobile-menu__divider {
    background: var(--grey-2);
    height: 1px;
    margin-bottom: 24px;
}

.mobile-menu__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.mobile-menu__section {
    border-bottom: 1px solid var(--grey-2);
    padding-bottom: 24px;
}

.mobile-menu__section:last-child {
    border: none;
}

.mobile-menu__section-title {
    color: var(--grey-3);
    font-size: 2rem;
    line-height: 26px;
    margin-bottom: 16px;
}

.mobile-menu__section-links {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.mobile-menu__section-link {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 24px;
    text-decoration: none;
}

.mobile-menu__section-link:hover {
    opacity: .8;
}

.mobile-menu__section-link_active {
    color: var(--red);
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
