.mobile-menu {
    background: var(--bg-main);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    transition: transform 200ms linear;
    width: 100vw;
    z-index: 9999;

    @media (min-width: 768px) {
        display: none;
    }

    &[data-open] {
        transform: translateX(0);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 24px;
    }

    &__section {
        border-bottom: 1px solid var(--grey-2);
        padding-bottom: 24px;

        &:last-child {
            border: none;
        }
    }

    &__section-title {
        color: var(--text-muted);
        font-size: 2rem;
        line-height: 26px;
        margin-bottom: 16px;
    }

    &__section-links {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__section-link {
        color: var(--font-color);
        font-size: 1.6rem;
        line-height: 24px;
        text-decoration: none;

        &:hover {
            opacity: .8;
        }
    }

    &__section-link_active {
        color: var(--red);
    }
}
