.preview {
    background: var(--grey-1);
    border: 1px var(--grey-2);
    border-style: solid none;
    display: flex;
    flex-direction: column;
    padding: 68px 0 204px;
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
