.preview__inner {
    background: var(--grey-1);
    border: 1px var(--grey-2);
    border-style: solid none;
    display: flex;
    flex-direction: column;
    padding: 68px 0 92px;
}

.preview__title {
    color: var(--black);
    font-size: 5rem;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 77px; /* TODO: temporary solution, before tabs will appear */
    margin-top: 16px;
}


.preview__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.preview__show-more-button {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
